* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #cbd5e1;
}

header {
  position: fixed;
  z-index: 3;
  background-color: #312e81;
  width: 100vw;
}
header .menuButton {
  height: 30px;
  width: 100px;
  object-fit: contain;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}
header .menuButton:hover {
  color: #cbd5e1;
}

h1 {
  text-align: center;
  color: #cbd5e1;
  font-weight: 900;
  transform: skewX(15deg);
}

ul {
  padding: 0;
}

.cartHolder {
  position: absolute;
  top: 20px;
  right: 50px;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cartHolder .Cart {
  color: #374151;
  font-size: 20px;
  background-color: #cbd5e1;
  border: 1px solid #1e1b4b;
  border-radius: 8px;
  cursor: pointer;
}
.cartHolder .Cart a {
  text-decoration: none;
}
.cartHolder .Cart:hover {
  background-color: #374151;
  color: #cbd5e1;
}
.cartHolder .numbOfGames {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: red;
  text-align: center;
  line-height: 40px;
  border: 1px solid #374151;
}

nav {
  margin: 1rem 2rem 1rem 2rem;
}
nav .stores-Side-Nav {
  min-width: 100%;
  list-style: none;
  height: fit-content;
  overflow: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}
nav .stores-Side-Nav .card {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 300px;
  cursor: pointer;
  text-align: center;
  color: #cbd5e1;
  background-color: black;
  align-items: center;
  gap: 1rem;
  margin-right: 1em;
}
nav .stores-Side-Nav .card img {
  display: inline-block;
  object-fit: contain;
  width: 50px;
  height: 50px;
}
nav .stores-Side-Nav .card h2 {
  font-size: 25px;
}

.gameCards {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.gameCards .game {
  width: 450px;
  height: 600px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: #374151;
  border-radius: 8px;
  align-items: center;
  background: linear-gradient(#3730a3, #818cf8);
}
.gameCards .imageContainer {
  height: 50%;
  width: 100%;
  position: relative;
}
.gameCards .imageContainer img {
  min-height: 50%;
  min-width: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gameCards .gameTitle {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}
.gameCards .gamePrices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
.gameCards .normPrice {
  text-decoration: line-through;
}
.gameCards .moneySaved {
  font-size: 12px;
}
.gameCards .price {
  font-size: 20px;
}
.gameCards a {
  grid-column: span 2;
  font-size: 30px;
  text-decoration: none;
  color: #1e1b4b;
  border: 1px solid #1e1b4b;
}

.Error {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #1e1b4b;
  height: 200px;
  width: 400px;
  text-align: center;
  border-radius: 8px;
  animation: 1s ease-out forwards;
}

h2 {
  color: red;
  margin: 0;
  line-height: 200px;
}

@keyframes errorAnim {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}