* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #312e81;
}

header {
  position: sticky;
  top: 0;
}

nav {
  position: fixed;
  top: 10%;
}
nav .stores-Side-Nav {
  position: absolute;
  width: 300px;
  list-style: none;
  height: 50vh;
  height: 50svh;
  overflow: scroll;
  overflow-x: hidden;
}
nav .stores-Side-Nav .card {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  margin-bottom: 1em;
  cursor: pointer;
  text-align: center;
  color: #cbd5e1;
  background-color: black;
  align-items: center;
  gap: 1rem;
}
nav .stores-Side-Nav .card img {
  display: inline-block;
  object-fit: contain;
  width: 50px;
  height: 50px;
}
nav .stores-Side-Nav .card h2 {
  font-size: 25px;
}

.gameCards {
  position: absolute;
  top: 10%;
  margin: 0 350px 0 350px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 80%;
  flex-wrap: wrap;
}
.gameCards .game {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: #cbd5e1;
  text-align: center;
  color: #374151;
  border-radius: 8px;
  align-items: center;
}
.gameCards img {
  height: 50%;
  width: fit-content;
  object-fit: contain;
}
.gameCards .normPrice {
  text-decoration: line-through;
}