$darkIndigo: #312e81;
$darkestIndigo: #1e1b4b;
$greyShade: #cbd5e1;
$greyDark: #374151;
$orange: #c2410c;
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  text-transform: uppercase;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: $greyShade;
}
header {
  position: fixed;
  z-index: 3;
  background-color: $orange;
  width: 100vw;
  .menuButton {
    height: 30px;
    width: 100px;
    object-fit: contain;
    position: absolute;
    top: 1rem;
    left: 0.5rem;

    &:hover {
      color: #cbd5e1;
    }
  }
}
h1 {
  text-align: center;
  color: #cbd5e1;
  font-weight: 900;
  transform: skewX(15deg);
}
ul {
  padding: 0;
}
