$darkIndigo: #312e81;
$darkestIndigo: #1e1b4b;
$greyShade: #cbd5e1;
$greyDark: #374151;
$orange: #c2410c;
$slateBlack: #020617;
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  text-transform: uppercase;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: $greyShade;
}
header {
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  z-index: 3;
  background-color: $orange;

  width: 100vw;
  .menuButton {
    height: 30px;
    width: 100px;
    object-fit: contain;
    position: absolute;
    top: 1rem;
    left: 0.5rem;

    &:hover {
      color: #cbd5e1;
    }
  }
}

.store-container {
  height: 100px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);

  .store_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .storeName {
    max-width: 300px;
    color: $slateBlack;
    font-size: 50px;
    margin: 0;
  }
}
%circle_div {
  display: inline-block;
  height: 40px;
  width: 60px;
  border-radius: 8px;
  color: red;
  text-align: center;
  line-height: 40px;
  border: 1px solid $greyDark;
  background-color: white;
}

button {
  width: fit-content;
  height: 30px;
  font-size: 20px;
  color: $orange;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $orange;
    &:hover {
      color: $greyShade;
    }
  }
  &:hover {
    color: $greyShade;
    border: 1px solid $greyShade;
    background-color: $orange;
  }
}
