.gameCards {
  position: absolute;
  top: 10%;
  margin: 0 350px 0 350px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 80%;
  flex-wrap: wrap;
  .game {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: $greyShade;
    text-align: center;
    color: $greyDark;
    border-radius: 8px;
    align-items: center;
  }
  img {
    height: 50%;
    width: fit-content;

    object-fit: contain;
  }
  .normPrice {
    text-decoration: line-through;
  }
}
