#siteTitle {
  #navLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    img {
      height: 50px;
      width: 50px;
    }
    h1 {
      display: inline;
      margin: 0;
      width: max-content;
      font-weight: 800;
    }
    &:hover {
      cursor: pointer;
      filter: invert(48%) sepia(153%) saturate(3207%) hue-rotate(230deg)
        brightness(95%) contrast(90%);
    }
  }

  .search-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .searchBar {
      height: 30px;
      width: 80%;
      font-size: 16px;
      border: none;
      color: $base;
    }
    .search {
      height: 30px;
      width: max-content;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .cartHolder {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    .numbOfGames {
      @extend %circle_div;
    }
    .cart {
      width: max-content;
      font-size: 12px;
    }
  }
}

@media (max-width: 1440px) {
  .main-nav {
    margin-top: 1em;
    justify-content: space-around;

    .search-container {
      width: 60%;
      height: 20px;

      .searchBar {
        height: 50px;
        width: 80%;
        font-size: 14px;
      }
      .search {
        height: 50px;
        min-width: 100px;
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 768px) {
  .main-nav {
    flex-direction: column;

    .search-container {
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .searchBar {
        height: 50px;
        width: 80%;
        font-size: 20px;
        border: none;
        color: $base;
      }
      .search {
        height: 30px;
        width: 20%;
        border: none;
        font-size: 20px;
        cursor: pointer;
        flex-shrink: 0;
      }
    }
  }
  @media (max-width: 1440px) {
    .main-nav {
      height: 100px;
      margin-top: 1em;
      justify-content: space-around;

      .search-container {
        width: 60%;
        height: 20px;

        .searchBar {
          height: 50px;
          width: 80%;
          font-size: 16px;
        }
        .search {
          height: 50px;
          min-width: 100px;
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: 440px) {
    .main-nav {
      padding-top: 1em;
      flex-direction: column;
      gap: 1em;
      height: fit-content;
      .search-container {
        width: 90%;
      }
    }
  }
}
