.search-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  .searchBar {
    height: 50px;
    width: 80%;
    font-size: 30px;
    border: none;
  }
  .search {
    height: 50px;
    width: 20%;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
}
