nav {
  margin: 1rem 2rem 1rem 2rem;
  .stores-Side-Nav {
    min-width: 100%;
    list-style: none;

    height: fit-content;
    overflow: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    // gap: 0.5rem;
    .card {
      display: flex;
      flex-direction: row;
      height: 100px;
      width: 300px;
      cursor: pointer;
      text-align: center;
      color: $greyShade;
      background-color: black;
      align-items: center;
      gap: 1rem;
      margin-right: 1em;
      img {
        display: inline-block;
        object-fit: contain;
        width: 50px;
        height: 50px;
      }
      h2 {
        font-size: 25px;
      }
    }
  }
}
