nav {
  position: fixed;

  top: 10%;

  .stores-Side-Nav {
    position: absolute;
    width: 300px;
    list-style: none;

    height: 50vh;
    height: 50svh;
    overflow: scroll;
    overflow-x: hidden;

    .card {
      display: flex;
      flex-direction: row;
      height: 100px;
      width: 100%;
      margin-bottom: 1em;
      cursor: pointer;
      text-align: center;
      color: $greyShade;
      background-color: black;
      align-items: center;
      gap: 1rem;
      img {
        display: inline-block;
        object-fit: contain;
        width: 50px;
        height: 50px;
      }
      h2 {
        font-size: 25px;
      }
    }
  }
}
